---
meta:
  description: "Mon voyage au pouce en bref..."
---
<!DOCTYPE html>
<html>

<head>
	{% include meta.html %}
	<meta charset="utf-8">
	<title>Globe</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="/css/main.css" type="text/css" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
	<link rel="stylesheet" href="/css/globe.css" type="text/css" />
</head>

<body>
	<div id="grid">
		<div id="map"></div>
		<div id="breves">
			<h1>Breves de voyage</h1>
			<% breves.each do |breve| %>
				<div data-loc="<%= breve.loc %>" data-zoom="<%= breve.zoom || 13 %>" data-anchor="<%= breve.anchor %>" data-epoch="<%= breve.epoch%>">
					<h2><%= breve.title %></h2>
					<sub class="📆"><%= breve.display_date %></sub>
					<%= breve.content %>
				</div>
			<% end %>
		</div>
	</div>
	<div id="disqus_thread"></div>
	{% include footer.html %}
	<script src="/globe.js" type="module"></script>
	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
		var disqus_config = function () {
			this.page.url = '{{ page.url | absolute_url }}'
			this.page.identifier = 'globe'
		};
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://ulysse-md.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
</body>

</html>
